<div class="products-container">
  <mat-card class="products-content">
    <div class="rowTwo">
      <mat-card-title>
        <h2 class="card-title">Products</h2>
      </mat-card-title>
      <button mat-raised-button color="warn" type="button" (click)="addProduct()">
        ADD
      </button>
      <div class="actions-box">
        <mat-form-field appearance="outline" class="product-search">
          <input
            matInput
            #search
            (keyup)="applyFilter($event)"
            maxlength="256"
            placeholder="Search"
          />
          <mat-icon matSuffix>search</mat-icon>
          <mat-hint align="start">Example: Name, id #, product_id</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <!-- table -->
    <mat-card-content class="products-content">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="product_name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.product_name }}</td>
        </ng-container>

        <ng-container matColumnDef="product_id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">
            {{ element.product_id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="product_price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let element">
            {{ element.product_price }}
          </td>
        </ng-container>

        <ng-container matColumnDef="product_stock">
          <th mat-header-cell *matHeaderCellDef>Stock</th>
          <td mat-cell *matCellDef="let element">{{ element.product_stock }}</td>
        </ng-container>

        <ng-container matColumnDef="product_min">
          <th mat-header-cell *matHeaderCellDef>Min</th>
          <td mat-cell *matCellDef="let element">{{ element.product_min }}</td>
        </ng-container>

        <ng-container matColumnDef="product_max">
          <th mat-header-cell *matHeaderCellDef>Max</th>
          <td mat-cell *matCellDef="let element">{{ element.product_max }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="onRowClicked($event, row)"
          [ngClass]="{ 'bold-row': row.readStatus === 0 }"
        ></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
